@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  transition: background-color 0.3s, color 0.3s;
}

body {
  background-color: white;
  color: rgb(15 23 42);
  /* slate-900 */
}

.dark {
  background-color: rgb(15 23 42);
  /* slate-900 */
  color: rgb(248 250 252);
  /* slate-50 */
}

.dark body {
  background-color: rgb(15 23 42);
  /* slate-900 */
  color: rgb(248 250 252);
  /* slate-50 */
}